@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100%;
  background: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #1e3a8a;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  color: #ffffff;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar {
  position: fixed;
  top: 70px;
  /* Tambahkan ini */
  left: -100%;
  height: calc(100% - 70px);
  /* Supaya tingginya tidak melebihi navbar */
  width: 260px;
  padding: 20px 0;
  background-color: #f4f4f4;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

nav.open .sidebar {
  left: 0;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover {
  background-color: #1e3a8a;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}

.overlay {
  position: fixed;
  top: 70px;
  /* Ubah dari 0 ke 70px */
  left: -100%;
  height: calc(100vh - 70px);
  /* Supaya tidak melebihi navbar */
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
  left: 260px;
  pointer-events: auto;
}

main.geser {
  transition: margin-left 0.4s ease;
}

/* Saat nav bar open, geser main ke kanan */
nav.open~main.geser {
  margin-left: 18rem;
}